<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserDAO">

  <select id="select" resultType="com.example.demo.entity.User">
    select * from user
  </select>

	<select id="selectSaltByName" resultType="com.example.demo.entity.User">
    SELECT * FROM user WHERE username = #{username,jdbcType=VARCHAR}
  </select>

  <insert id="insertUser">
		insert into user (
		password,
		username,
		salt
		)values (
			#{password,jdbcType=VARCHAR},
			#{username,jdbcType=VARCHAR},
			#{salt,jdbcType=VARCHAR}
		)
	</insert>
</mapper>